@import "./header";


@font-face {
    font-family: 'NavineDemo-SemiCondensed';
    src: url('/assets/NavineDemo-SemiCondensed.ttf') format('truetype');
  }


body{
    margin:0;
    background:red;
}
