@import "./header";
@import "./button";
@import "./singleproduct";
@import "./cart";


@font-face {
    font-family: 'NavineDemo-SemiCondensed';
    src: url('../resources/fonts/NavineDemo-SemiCondensed.ttf') format('truetype');
  }


body{
    margin:0;
    background:red;
}
