.utility-bar.color-scheme-1 {
  background-color: black;
  height: 70%;
}
.utility-bar.color-scheme-1 .announcement-bar__message {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.main {
  display: flex;
}
cart-items {
  padding: 0;
  width: 100%;
}
cart-items .page-width {
  margin: 0;
  padding: 0;
}
.cart__footer-wrapper {
  width: 40%;
}
.cart__footer-wrapper .page-width {
  max-width: unset;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.cart__footer-wrapper .page-width .cart__blocks {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.cart__footer-wrapper .page-width .cart__blocks .cart__checkout-button {
  width: 100%;
  height: 54px;
  max-width: unset;
  background-color: #444;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
@font-face {
  font-family: "NavineDemo-SemiCondensed";
  src: url("../resources/fonts/NavineDemo-SemiCondensed.ttf") format("truetype");
}
body {
  margin: 0;
  background: red;
}