.utility-bar.color-scheme-1 {
  background-color: black;
  height: 70%;
}
.utility-bar.color-scheme-1 .announcement-bar__message {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.cart-items {
  padding-left: 100px;
  padding-right: 100px;
}
.cart__footer-wrapper {
  width: 40%;
}
.cart__footer-wrapper .page-width {
  max-width: unset;
}
@font-face {
  font-family: "NavineDemo-SemiCondensed";
  src: url("../resources/fonts/NavineDemo-SemiCondensed.ttf") format("truetype");
}
body {
  margin: 0;
  background: red;
}